{% extends 'app/layouts/defaults_gest.html' %}

{% block content %}
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Les Entrees</h5>

            <!-- Table with stripped rows -->
            <div class="card-header py-3">
                <a href="{% url 'input_create'%}" class="btn btn-primary">Nouveaux entrees</a>
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-alert mr-1"></i>{{message}}
                </div>
                {% endfor%}
                {% endif %}
                <table class="table table-striped datatable table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Matieres Premieres</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">prix unitaire</th>
                        <th scope="col">prix total</th>
                        <th scope="col">Date d'entrees</th>
                        <th scope="col" colspan="2">Option</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for input in Inputs %}
                        <tr>
                            <th scope="row"><a href="#">{{input.id}}</a></th>
                            <td>{{input.stock}}</td>
                            <td>{{input.quantite}}</td>
                            <td>{{input.price}}</td>
                            <td>{{input.total }}</td>
                            <td>{{input.date}}</td>
                            <td>
                                <a href="{% url 'input_edit' input.id %}" class="btn btn-primary"> Modifier </a>
                            </td>
                            <td>    
                                <form action="{% url 'input_delete' input.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" onclick="return confirm('Voulez-vous supprimer cette facture?')" class="btn btn-danger"> Supprimer</Button>
                                </form>
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        <!-- End Table with stripped rows -->

        </div>
    </div>
</main>
{% endblock %}