{% extends 'app/layouts/defaults.html' %}

{% block content %}
{% load crispy_forms_tags %}
<main id="main" class="main">
    <div class="container col-8">
        <div class="card">            
            <div class="card-body">
                <h5 class="card-title">Les Depenses</h5>
                <!-- Vertical Form -->
                <form class="row g-3" action="{% url 'dep_update' form.instance.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">

                        {{ form.categorie_depense|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.quantite_depense|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.prix_unitaire_depense|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.Prix_total_depense|as_crispy_field }}
                    </div>
                     <div class="form-group">
                        {{ form.production|as_crispy_field }}
                    </div> 
                    <div class="form-group">
                        {{ form.date_depense|as_crispy_field }}
                    </div>
                    {% comment %} <div class="form-group">
                        {{ form.date_production|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.utilisateur|as_crispy_field }}
                    </div> {% endcomment %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-secondary">reset</button>
                    </div>
                </form><!-- Vertical Form -->
            </div>
        </div>
    </div>
</main>
{% endblock %}