{% extends 'app/layouts/defaults.html' %}

{% block content %}
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mains d'Oeuvre</h5>

            <!-- Table with stripped rows -->
            <div class="card-header py-3">
                <a href="{% url 'mains_create'%}" class="btn btn-primary">Nouveaux entrees</a>
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-alert mr-1"></i>{{message}}
                </div>
                {% endfor%}
                {% endif %}
                <table class="table table-striped datatable table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Main d'Oeuvre</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Revenu unitaire</th>
                        <th scope="col">Revenu total</th>
                        <th scope="col">Date</th>
                        <th scope="col" colspan="2">Option</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for mains_d_oeuvres in Main_d_oeuvres %}
                        <tr>
                            <th scope="row"><a href="#">{{mains_d_oeuvres.id}}</a></th>
                            <td>{{mains_d_oeuvres.category}}</td>
                            <td>{{mains_d_oeuvres.nombre}}</td>
                            <td>{{mains_d_oeuvres.revenu}}</td>
                            <td>{{mains_d_oeuvres.total }}</td>
                            <td>{{mains_d_oeuvres.date}}</td>
                            <td>
                                <a href="{% url 'mains_edit' mains_d_oeuvres.id %}" class="btn btn-primary"> Modifier </a>
                            </td>
                            <td>    
                                <form action="{% url 'mains_delete' mains_d_oeuvres.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" onclick="return confirm('Voulez-vous supprimer cette facture?')" class="btn btn-danger"> Supprimer</Button>
                                </form>
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        <!-- End Table with stripped rows -->

        </div>
    </div>
</main>
{% endblock %}