{% extends 'app/layouts/defaults.html' %}

{% block content%}
<main id="main" class="main">
  {% load static %}
    <div class="pagetitle">
      <h1 style="text-align: center">BIENVENUE DANS NOTRE ENTREPRISE DE PRODUCTION</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="col-lg-12">
          <div class="row">

            <!-- Inputs Card -->
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">MP Entrees</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class=" bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{count_entrees}} stock(s)</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Inputs Card -->

            <!-- Stocks Card -->
            <div class="col-xxl-4 col-md-4">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Matieres premieres</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart" aria-hidden="true"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{count_stocks}} type(s)</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Stocks Card -->

            <!-- Outputs Card -->
            <div class="col-xxl-4 col-xl-4">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">MP Sorties</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{count_sorties}} stock(s)</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Outputs Card -->
            <div class="row">
            </div> 
          </div>
        </div>
    </section>
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">la liste des matieres premieres sorties</h5>
  
          <!-- Table with stripped rows -->
          <div class="card-body">
            <table class="table table-striped datatable table-bordered">
              <thead>
              <tr>
                  <th scope="col">id</th>
                  <th scope="col">Matieres Premieres</th>
                  <th scope="col">Quantite en stock</th>
                  <th scope="col">Sortie en stock</th>
                  <th scope="col">Prix unitaire</th>
                  <th scope="col">Prix total</th>
                  {% comment %} <th scope="col">Date d'entree</th> {% endcomment %}
                  <th scope="col">Date de sortie</th>
                  <th scope="col">Production</th>
                  {% comment %} <th scope="col">Date de la Production</th> {% endcomment %}
                  {% comment %} <th scope="col">Utilisateur</th> {% endcomment %}
                  {% comment %} <th scope="col" colspan="2">Option</th> {% endcomment %}
              </tr>
              </thead>
              <tbody>
                  {% for output in Outputs %}
                  <tr>
                      <th scope="row"><a href="#">{{output.id}}</a></th>
                      <td>{{output.matiere_premiere}}</td>
                      <td>{{output.quantite_stock}}</td>
                      <td>{{output.quantite_sortie}}</td>
                      <td>{{output.priX_unitaire_sortie}}</td>
                      <td>{{output.prix_total_sortie }}</td>
                      {% comment %} <td>{{output.date_entree }}</td>  {% endcomment %}
                      <td>{{output.date_sortie}}</td>
                      <td>{{output.production }}</td>
                      {% comment %} <td>{{output.date_production }}</td> {% endcomment %}
                      {% comment %} <td>{{output.utilisateur}}</td> {% endcomment %}
                  
                  </tr>
                  {%  endfor %}
                  </tbody>
              </table>
          </div>
        <!-- End Table with stripped rows -->
  
      </div>
    </div>

    <section class="section dashboard">
      <div class="col-lg-12">
        <div class="row">

          <!-- Productions Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Productions</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{count_production}}production(s)</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Productions Card -->

          <!-- Products Card -->
          <div class="col-xxl-4 col-md-4">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Produits Finis</h5>

                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart" aria-hidden="true"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{count_product}} type(s)</h6>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Products Card -->

          <!-- Depenses Card -->
          <div class="col-xxl-4 col-xl-4">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Depenses</h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{count_depenses}}categorie(s)</h6>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Depenses Card -->
          <div class="row">
          </div> 
        </div>
      </div>
  </section>

    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Cout de Production</h5>
  
          <!-- Table with stripped rows -->
          <div class="card-body">
            <table class="table table-striped datatable table-bordered">
              <thead>
              <tr>
                  <th scope="col">id</th>
                  <th scope="col">Production</th>
                  <th scope="col">quantite produite</th>
                  {% comment %} <th scope="col">MP sorties</th> {% endcomment %}
                  <th scope="col">cout de la sortie total</th>
                  {% comment %} <th scope="col">Type de depenses</th> {% endcomment %}
                  <th scope="col">Cout de depenses total</th>
                  <th scope="col">Cout de production total</th>
                  <th scope="col">Cout de production unitaire</th>
                  {% comment %} <th scope="col" colspan="2">Option</th> {% endcomment %}
              </tr>
              </thead>
              <tbody>
                  {% for cout in Couts %}
                  <tr>
                      <th scope="row"><a href="#">{{cout.id}}</a></th>
                      <td>{{cout.production}}</td>
                      <td>{{cout.quantite_produite}}</td>
                      {% comment %} <td>{{cout.stock_mp}}</td> {% endcomment %}
                      <td>{{cout.cout_total_sortie}}</td>
                      {% comment %} <td>{{cout.nombre_depense}}</td> {% endcomment %}
                      <td>{{cout.cout_total_depense }}</td>
                      <td>{{cout.cout_total_production }}</td>
                      <td>{{cout.cout_production }}</td>

                  </tr>
                  {%  endfor %}
                  </tbody>
              </table>
          </div>
        <!-- End Table with stripped rows -->
  
      </div>
    </div>
  
    
  </main>
{% endblock %}