{% extends 'app/layouts/defaults_gest.html' %}

{% block content %}
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Stock</h5>

            <!-- Table with stripped rows -->
            <div class="card-header py-3">
                <a href="{% url 'stock_create'%}" class="btn btn-primary">Nouveau Stock</a>
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-alert mr-1"></i>{{message}}
                </div>
                {% endfor%}
                {% endif %}
                <table class="table table-striped datatable table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Matieres Premiers</th>
                        <th scope="col">Les Entrees</th>
                        <th scope="col">Les Sorties</th>
                        <th scope="col">Stock actuel</th>
                        <th scope="col">Unite d'entrees-Sorties</th>
                        <th scope="col">Le prix unitaire</th>
                        <th scope="col">date</th>
                        
                        <th scope="col" colspan="2">Option</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for stock in Stocks %}
                        <tr>
                            <td>{{stock.id}}</td>
                            <td>{{ stock.matieres_premieres}}</td>
                            <td>{{ stock.entrees}}</td>
                            <td>{{ stock.sorties}}</td>
                            <td>{{ stock.stock_actuel}}</td>
                            <td>{{ stock.unite_entrees_sorties}}</td>
                            <td>{{ stock.prix_unitaire}}</td>
                            <td>{{ stock.date}}</td>
                            <td>
                                <a href="{% url 'stock_edit' stock.id %}" class="btn btn-primary"> Modifier </a>
                            </td>
                            <td>    
                                <form action="{% url 'stock_delete' stock.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" onclick="return confirm('Voulez-vous supprimer cette stock?')" class="btn btn-danger"> Supprimer</Button>
                                </form>
                            </td>
                        </tr>
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        <!-- End Table with stripped rows -->

        </div>
    </div>
</main>
{% endblock %}