<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'home_resp' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Depenses</span><i class="bi bi-chevron-down ms-auto"></i>

        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'category'%}">
              <i class="bi bi-circle"></i><span>Type de Depenses</span>
            </a>
          </li>
          <li>
            <a href="{% url 'depense'%}">
              <i class="bi bi-circle"></i><span>Tous les Depenses</span>

            </a>
          </li>
         
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'production'%}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Production</span>
        </a>
      </li><!-- End Profile Page Nav -->
  
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'product'%}">
          <i class="bi bi-question-circle"></i>
          <span>Produits Finis</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'cout'%}">
          <i class="bi bi-question-circle"></i>
          <span>Cout de Production</span>
        </a>
      </li>

    </ul>

  </aside>