<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="{% url 'home'%}">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Matieres Premieres</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'matierePremiere'%}">
            <i class="bi bi-circle"></i><span>Type de Matieres Premieres</span>
          </a>
        </li>
        
        <li>
          <a href="{% url 'input'%}">
            <i class="bi bi-circle"></i><span>Entrees</span>
          </a>
        </li>
        <li>

          <a href="{% url 'output'%}">
            <i class="bi bi-circle"></i><span>Sorties</span>
          </a>
        </li>
        {% comment %} <li>
          <a href="{% url 'situation_stock_admin'%}">
            <i class="bi bi-circle"></i><span>Situation du Stock</span>
          </a>
        </li> {% endcomment %}
        
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Depenses</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="{% url 'category'%}">
            <i class="bi bi-circle"></i><span>Type de Depenses</span>
          </a>
        </li>
        <li>
          <a href="{% url 'depense'%}">
            <i class="bi bi-circle"></i><span>Tous les Depenses</span>
          </a>
        </li>
       
      </ul>
    </li><!-- End Forms Nav -->

   <!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'production'%}">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Production</span>
      </a>
    </li><!-- End Profile Page Nav -->

   

    <li class="nav-item">

      <a class="nav-link collapsed" href="{% url 'product'%}">
        <i class="bi bi-question-circle"></i>
        <span>Produits Finis</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->
    <li class="nav-item">

      <a class="nav-link collapsed" href="{% url 'cout'%}">
        <i class="bi bi-question-circle"></i>
        <span>Couts</span>

      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'user_all' %}">
        <i class="bi bi-person"></i>
        <span>Utilisateurs</span>
      </a>
    </li>

    <!-- End Blank Page Nav -->

  </ul>

</aside>