{% extends 'app/layouts/defaults.html' %}

{% block content %}
<main id="main" class="main">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Production</h5>

            <!-- Table with stripped rows -->
            <div class="card-header py-3">
                <a href="{% url 'pro_create'%}" class="btn btn-primary">Nouvelle Production</a>
            </div>
            <div class="card-body">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-alert mr-1"></i>{{message}}
                </div>
                {% endfor%}
                {% endif %}
                <table class="table table-striped datatable table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Produit</th>
                        <th scope="col">Unite de Production</th>
                        <th scope="col">Date</th>
                        <th scope="col">Option</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for production in Productions %}
                        <tr>
                            <th scope="row"><a href="#">{{production.id}}</a></th>
                            <td>{{production.nom_prod}}</td>
                            <td>{{production.unite_production}}</td>
                            <td>{{production.date}}</td>
                            <td>
                                <a href="{% url 'pro_edit' production.id %}" class="btn btn-primary"> Modifier </a>
                            </td>
                            <td>    
                                <form action="{% url 'pro_delete' production.id %}" method="POST">
                                    {%csrf_token%}
                                    <button type="submit" onclick="return confirm('Voulez-vous supprimer cette facture?')" class="btn btn-danger"> Supprimer</Button>
                                </form>
                            </td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        <!-- End Table with stripped rows -->

        </div>
    </div>
</main>
{% endblock %}