{% extends 'app/layouts/defaults_gest.html' %}
{% block content %}
{% load crispy_forms_tags %}
<main id="main" class="main">
    <div class="container col-8">
        <div class="card">            
            <div class="card-body">
                <h5 class="card-title">Utilisateur</h5>
                <!-- Vertical Form -->
                <form class="row g-3" action="{% url 'user_update_gest' form.instance.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-secondary">reset</button>
                    </div>
                </form><!-- Vertical Form -->
            </div>
        </div>
    </div>
</main>
{% endblock %}