{% comment %} {% extends 'app/layouts/defaults.html' %} {% endcomment %}
{% comment %} {% block content %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pages / Login - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'app/img/favicon.png' %}" rel="icon">
  <link href="{% static 'app/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'app/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'app/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
{% load crispy_forms_tags %}
<main id="main" class="main">
    {% comment %} <div class="container col-18"> {% endcomment %}
        <div class="col-lg-8 col-md-9 d-flex flex-column align-items-center justify-content-center">
            <div class="card">
                <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                    <img src="{% static 'app/img/logo.png' %}" alt="">
                    <span class="d-none d-lg-block">NIYO GARAGE</span>
                    </a>
                </div><!-- End Logo -->
                <div class="card-body">
                    <h5 class="card-title">User</h5>
                    <!-- Vertical Form -->
                    <form class="row g-3" action="{% url 'user_update_user' form.instance.pk %}" method="POST">
                        {% csrf_token %}
                        
                        <label>Caucher cette case si c'est un administrateur</label>
                        <div class="form-group">
                            {{ form.is_superuser|as_crispy_field }}
                        </div>
                        <label>Caucher cette case si c'est un caissier ou laisser si c'est un receptionniste</label>
                        <div class="form-group">
                            {{ form.is_staff|as_crispy_field }}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <button type="reset" class="btn btn-secondary">reset</button>
                        </div>
                    </form><!-- Vertical Form -->
                </div>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
</main>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'app/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'app/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'app/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'app/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'app/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'app/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'app/js/main.js' %}"></script>

</body>

</html>
{% comment %} {% endblock %} {% endcomment %}