{% extends 'app/layouts/defaults_resp.html' %}
{% block content %}
{% load crispy_forms_tags %}
<main id="main" class="main">
    <div class="container col-8">
        <div class="card">            
            <div class="card-body">
                <h5 class="card-title">Calcule du Cout de Production</h5>
                <!-- Vertical Form -->
                <form class="row g-3" action="{% url 'cout_update' form.instance.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.Product|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.quantite|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.unite|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.depense|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.cout_total_pro|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.quantite_total|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.cout_de_production|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        {{ form.date|as_crispy_field }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <button type="reset" class="btn btn-secondary">reset</button>
                    </div>
                </form><!-- Vertical Form -->
            </div>
        </div>
    </div>
</main>
{% endblock %}